<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th> Variable </th>
          <th> Pipe </th>
          <th> Salida </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td> {{ nombre2 }} </td>
          <td> capitalizado </td>
          <td> {{ nombre2 | capitalizado }} </td>
        </tr>
        <tr>
          <td> {{ nombre }} </td>
          <td> uppercase </td>
          <td> {{ nombre | uppercase }} </td>
        </tr>
        <tr>
          <td> {{ nombre }} </td>
          <td> lowercase </td>
          <td> {{ nombre | lowercase }} </td>
        </tr>
        <tr>
          <td> {{ nombre }} </td>
          <td> slice:3 </td>
          <td> {{ nombre | slice:3 }} </td>
        </tr>
        <tr>
          <td> {{ nombre }} </td>
          <td> slice:0:3 </td>
          <td> {{ nombre | slice:0:3 }} </td>
        </tr>
        <tr>
          <td> {{ arreglo }} </td>
          <td> slice:0:3 </td>
          <td> {{ arreglo | slice:0:3 }} </td>
        </tr>
        <tr>
          <td> {{ PI }} </td>
          <td> number </td>
          <td> {{ PI | number }} </td>
        </tr>
        <tr>
          <td> {{ PI }} </td>
          <td> number:'1.0-0' </td>
          <td> {{ PI | number:'1.0-0' }} </td>
        </tr>
        <tr>
          <td> {{ PI }} </td>
          <td> number:'3.0-0' </td>
          <td> {{ PI | number:'3.0-0' }} </td>
        </tr>
        <tr>
          <td> {{ PI }} </td>
          <td> number </td>
          <td> {{ PI | number:'.0-2' }} </td>
        </tr>
        <tr>
          <td> {{ porcentaje }} </td>
          <td> percent </td>
          <td> {{ porcentaje | percent }} </td>
        </tr>
        <tr>
          <td> {{ porcentaje }} </td>
          <td> percent:'2.2-2' </td>
          <td> {{ porcentaje | percent:'2.2-2' }} </td>
        </tr>
        <tr>
          <td> {{ salario }} </td>
          <td> currency </td>
          <td> {{ salario | currency }} </td>
        </tr>
        <tr>
          <td> {{ salario }} </td>
          <td> currency:'EUR' </td>
          <td> {{ salario | currency:'EUR' }} </td>
        </tr>
        <tr>
          <td> {{ salario }} </td>
          <td> currency:'CAD$ ':'symbol-narrow':'.0-0' </td>
          <td> {{ salario | currency:'CAD$ ':'symbol-narrow':'.0-0' }} </td>
        </tr>
        <tr>
          <td> {{ valorPromesa }} </td>
          <td> async </td>
          <td> {{ valorPromesa | async }} </td>
        </tr>
        <tr>
          <td> {{ valorPromesaObj }} </td>
          <td> valorPromesaObj | async | json </td>
          <td> {{ valorPromesaObj | async | json }} </td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date </td>
          <td> {{ fecha | date }} </td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'medium' </td>
          <td> {{ fecha | date:'medium' }} </td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'short' </td>
          <td> {{ fecha | date:'short' }} </td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'MMMM - d' </td>
          <td> {{ fecha | date:'MMMM - d' }} </td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td>
            date:'MMMM - d':'':'{{idioma}}'
            <br>
            <button (click)="idioma = 'es'" style="margin-left: 1%;" class="mr-2 btn btn-primary">Español</button>
            <button (click)="idioma = 'en'" style="margin-left: 1%;" class="mr-2 btn btn-secondary">Inglés</button>
            <button (click)="idioma = 'fr'" style="margin-left: 1%;" class="mr-2 btn btn-success">Francés</button>
          </td>
          <td> {{ fecha | date:'MMMM - d':'':idioma }} </td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'dd/MM/yyyy' </td>
          <td> {{ fecha | date:'dd/MM/yyyy' }} </td>
        </tr>

        <tr>
          <td> {{ nombre }} </td>
          <td> contrasena:{{ activar}}
            <br>
            <button class="btn btn-outline-primary" (click)="activar = !activar">
              Activar/Desactivar
            </button>
          </td>
          <td> {{ nombre | contrasena: activar }} </td>
        </tr>
      </tbody>
    </table>

    <h4>Slice</h4>
    <hr>
    <ul>
      <li *ngFor="let item of arreglo | slice:5:20">
        {{item}}
      </li>
    </ul>

    <h3>JSON</h3>
    <hr>
    <div class="row mb-5">
      <div class="col">
        <pre>
          {{ persona | json }}
        </pre>
      </div>
    </div>
  </div>
</div>

<h3 class="mt-4">Domseguro</h3>
<hr>
<div class="row mb-5">
  <div class="col">
    <iframe width="560"
    height="315"
    [src]="videoUrl | domseguro "
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
  </div>
</div>